Molecular Spectroscopy/TexReport/*
!Molecular Spectroscopy/TexReport/Images/*
!Molecular Spectroscopy/TexReport/Report.tex
!Molecular Spectroscopy/TexReport/Report.bib
Particle_Experiment_Automation_Tutorial.pdf
desktop.ini